# dependencies
/node_modules
/.pnp
.pnp.js
react-email-starter
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
db/liquibase.properties
db/liquibase-prod.*
dashboard/.env.production
api/.env.prod
network-survey/.env.production
*.pem
.vscode
.vscode/*