.dashboard {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.icon_label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.icon_green {
  font-size: 24px;
  color: #4caf50; /* Change the color based on the status */
  margin-left: 10px;
}
.icon_red {
  font-size: 24px;
  color: #FF0000; /* Change the color based on the status */
  margin-left: 10px;
}
.input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}
